body {
  margin: 0;
  padding: 0;
  background-color: #2C2B3D;
  
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  align-items: center;
  gap: 607px;
  margin: 5px auto 101px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 64px;
  list-style: none;
  font-size: 14px;
  font-family: "JetBrains Mono", sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  opacity: 1;
}

main {
  width: 1092px;
  display: flex;
  align-items: center;
  gap: 81px;
  margin-bottom: 157px;
  
}

section {
  align-items: center;
}

h1 {
  font-family: "JetBrains Mono", sans-serif;
  color: #FFFFFF;
  font-size: 36px;
}

span {
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #C2C2C2;
  text-align: center;
}

footer {
  border-top: 1px solid #00BFA6;
  width: 568px;
  margin: auto;
  text-align: center;
  color: #FFFFFF;

}

#cad {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
